
<div class="card">
    <div class="card-header">
        <h3 class="card-title">% COMPLIANCE TOTAL (OCG Only)</h3>
        <div class="card-tools">
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <!-- /.card-tools -->
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <div class="row justify-content-center">

            <input id="ComplianceTotal" type="text" class="knob" data-thickness="0.2" data-angleArc="250" data-angleOffset="-125"
            value="0"      width="150" data-height="162" data-fgColor="#00c0ef">


        </div>
        <div class="row justify-content-center"> <div class="knob-label" id="lableForCompliance"></div></div>
    </div>
</div>

@*% COMPLIANCE BY ASSET*@
<div class="card">
    <div class="card-header">
        <h3 class="card-title">% COMPLIANCE BY ASSET (OCG Only)</h3>
        <div class="card-tools">
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <!-- /.card-tools -->
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <div id="complianceByArea"></div>
       

        @*
        <div class="progress-group">
            Temp_01
            <span class="float-right">85%</span>
            <div class="progress progress-sm">
                <div class="progress-bar bg-primary" style="width: 85%"></div>
            </div>
        </div>


        <div class="progress-group">
            Pump_04
            <span class="float-right">75%</span>
            <div class="progress progress-sm">
                <div class="progress-bar bg-danger" style="width: 75%"></div>
            </div>
        </div>


        <div class="progress-group">
            <span class="progress-text">Pump_02</span>
            <span class="float-right">60%</span>
            <div class="progress progress-sm">
                <div class="progress-bar bg-success" style="width: 60%"></div>
            </div>
        </div>



        <div class="progress-group">
            <span class="progress-text">Temp_02</span>
            <span class="float-right">60%</span>
            <div class="progress progress-sm">
                <div class="progress-bar bg-success" style="width: 60%"></div>
            </div>
        </div>


        <div class="progress-group">
            <span class="progress-text">Temp_07</span>
            <span class="float-right">52%</span>
            <div class="progress progress-sm">
                <div class="progress-bar bg-success" style="width: 52%"></div>
            </div>
        </div>

        <div class="progress-group">
            Pump_05
            <span class="float-right">50%</span>
            <div class="progress progress-sm">
                <div class="progress-bar bg-warning" style="width: 50%"></div>
            </div>
        </div>*@

    </div>
</div>
@*END % COMPLIANCE BY ASSET*@

